@mixin d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin d-flex-center {
    display: flex;
    justify-content: center;
}



@mixin d-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin d-flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin d-flex-align {
    display: flex;
    align-items: center;
}
